<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free movie catalogue for you">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="icon" href="./logo.png">
 
  <title>Suitmedia</title>
</head>
<body>
  <a href="#mainContent" class="skip-link">Skip to content</a>
  <header-body></header-body>
  <banner-body></banner-body>
  </header>
  <main id="mainContent"></main>
  <footer-body></footer-body>
</body>
</html>